*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: white;
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}

:root {
  --ghost-white-color: #fbfaff;
  --rich-black-color: #080415;
  --independence-color: #51586a;
  --majorelle-blue-color: #5d3bee;
}

.col {
  /* border: 1px dashed black; */
}

.pc-only {
  display: block;
}

.mobile-only,
.tablet-only {
  display: none;
}

h1,
h2,
h3 {
  color: var(--rich-black-color);
  font-weight: 500;
}

h1 {
  font-size: 8rem;
  line-height: 7.6rem; /* 95% */
  letter-spacing: -0.32rem;
}

h2 {
  font-size: 5.6rem;
  line-height: 6.6rem; /* 117.857% */
  letter-spacing: -0.224rem;
}

h3,
.purple-text {
  font-size: 3.2rem;
  line-height: 4rem; /* 125% */
  letter-spacing: -0.128rem;
}

.purple-text {
  font-weight: 500;
  color: var(--majorelle-blue-color);
}

h1 ~ p:first-of-type,
h2 ~ p:first-of-type {
  margin-top: 2rem;
}

.purple-btn {
  background-color: var(--majorelle-blue-color);
  transition: box-shadow 0.5s;
}

.purple-btn:hover {
  box-shadow: rgba(93, 59, 238, 0.6) 0px 5px 15px;
}

.white-btn {
  background-color: white;
  transition: box-shadow 0.5s;
}

.white-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text-link {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem; /* 166.667% */
}

.text-link {
  color: var(--rich-black-color);
  text-decoration: underline;
}

.purple-btn,
.white-btn {
  width: 17rem;
  height: 6.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purple-btn > .btn-link {
  color: #fdfdfd;
  padding: 1.5rem 3.6rem;
}

.white-btn > .btn-link {
  color: var(--rich-black-color);
}

.btn-link {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem; /* 166.667% */
}

.medium-text,
.nav-text {
  color: var(--independence-color);
  font-size: 1.8rem;
  font-weight: 400;
}

.nav-text:hover {
  color: var(--rich-black-color);
  font-weight: 600;
}

.medium-text {
  line-height: 3rem; /* 166.667% */
}

.flex-box {
  display: flex;
}

.horizontal-box {
  display: flex;
  align-items: center;
}

.centered-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* GRID LAYER */

.test .row {
  position: fixed;
  opacity: 0.3;
  width: 1200px;
  height: 100vh;
  top: 0rem;
}

.test .row > .col {
  background-clip: content-box;
  background-color: lightcoral;
  opacity: 0.5;
}

/* HEADER */
.header {
  padding-top: 2rem;
  background-color: #fbfaff;
}

.header .flex-box {
  width: 100%;
}

.email-box {
  transform: translateX(-8rem);

  height: 100%;
}

.my-email-icon-container {
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 50%;
  border: 1px solid rgba(93, 59, 238, 0.2);
}

.my-email-link {
  width: 21.2rem;
  padding-left: 1rem;
  color: var(--rich-black-color);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3rem; /* 136.364% */
  text-decoration-line: underline;
}

.my-email-icon {
  padding: 1.5rem 1.1rem;
}

.nav-bar {
  transform: translateX(8rem);
  height: 100%;
}

.boy-icon-box {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.nav-list {
  width: 100%;
  justify-content: space-between;
}

/* HERO */
.hero {
  padding-top: 4.4rem;
  background-color: #fbfaff;
}

/* LEFT HERO */
.hero-thumb-box {
  position: relative;
  margin-right: 5.6rem;
  height: 100%;
}

.hero-thumb-vector {
  position: absolute;
  bottom: 0rem;
  left: -11.34rem;
  opacity: 0.1;
}

.hero-thumb-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* RIGHT HERO */
.hero-info-box {
  margin-top: 13.7rem;
  width: 50rem;
  margin-left: auto;
}

.hero-info-box .hero-desc {
  width: 37rem;
}

.hero-info-box .horizontal-box {
  margin-top: 5rem;
}

.hero-info-box .hero-action-box {
  gap: 3rem;
}

.hero-info-box .social-box {
  margin-top: 10.4rem;
}

.hero-info-box .social-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid var(--rich-black-color);
}

.social-btn + .social-btn {
  margin-left: 2rem;
}

.hero-info-box .social-link {
  padding: 1.1rem;
}

.hero-info-box .follow-text {
  margin-right: 1.5rem;
  color: var(--independence-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3rem; /* 187.5% */
}

/* CLIENTS */
.clients {
  margin-top: 10rem;
}

.clients .clients-box {
  height: auto;
}

/* LEFT CLIENTS */

.clients-heading {
  position: relative;
  margin-left: 9.9rem;
  font-size: 4.2rem;
  line-height: 5rem; /* 119.048% */
  letter-spacing: -0.168rem;
}

.clients-heading::before {
  position: absolute;
  content: "";
  display: block;
  width: 8.6rem;
  height: 0.2rem;
  background-color: var(--majorelle-blue-color);
  top: 2.2rem;
  left: calc(-1 * 8.6rem - 1.3rem);
}

/* RIGHT CLIENTS */
.clients-box {
  height: 11.3rem;
}

.clients-heading {
  margin-top: 1.1rem;
}

.clients-list {
  column-gap: 6.6rem;
  height: 100%;
}

.clients-group {
  /* background-color: green; */
  height: 10.6rem;
  row-gap: 3.4rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    ". ."
    ". .";
}

.clients-list > .clients-group:first-of-type {
  padding-left: 5.7rem;
  column-gap: 6.1rem;
}

.clients-list > .clients-group:last-of-type {
  column-gap: 3.6rem;
}

.clients-link {
  gap: 1.3rem;
}

.clients-item .upwork-link {
  gap: 1.2rem;
}

.clients-logo-jar {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
}

.google-jar {
  width: 3rem;
  height: 3.2rem;
}

.bros-jar {
  background-color: var(--ghost-white-color);
}

.upwork-jar {
  background-image: linear-gradient(0deg, #14a800 0%, #14a800 100%);
}

.cloud-jar {
  background-image: linear-gradient(0deg, #fff 0%, #fff 100%);
}

.mailchimp-jar {
  background-image: linear-gradient(0deg, #fee101 0%, #fee101 100%);
}

.adobe-jar {
  background-image: linear-gradient(0deg, #f00 0%, #f00 100%);
}

/* SKILLS */
.skills {
  padding-top: 13.3rem;
  padding-bottom: 14rem;
}

.skills .skills-desc {
  width: 53.4rem;
}

.skills .skills-list {
  margin-top: 6rem;
}

.skills .skills-item {
  background-color: var(--ghost-white-color);
  padding: 3.3rem 4.2rem 3.2rem 4.3rem;
}

.skills .skills-icon-jar {
  width: 7.4rem;
  height: 7.4rem;
  border-radius: 50%;
  border: 1px solid rgba(8, 4, 21, 0.05);
}

.skills .skills-label {
  margin-top: 2.2rem;
}

.skills .skills-item-desc {
  margin-top: 1.5rem;
}

/* PROJECTS */
.projects {
  padding: 8.6rem 0rem;
  background-color: var(--majorelle-blue-color);
}

.projects .projects-heading,
.projects .projects-desc {
  color: white;
}

.projects .projects-heading {
  padding-right: 10.2rem;
}

.projects .projects-desc {
  padding-left: 2.8rem;
  padding-right: 17.2rem;
}

.projects .nonwrap {
  white-space: nowrap;
}

.projects .projects-list {
  row-gap: 3rem;
  margin-top: 7rem;
}

.projects .projects-item-box {
  height: 23.4rem;
  background-color: var(--ghost-white-color);
  padding: 2.4rem 2.3rem 4.4rem 3.4rem;
}

.projects .projects-item:nth-of-type(even) > .projects-item-box {
  margin-left: auto;
}

.projects .project-item-info {
  position: absolute;
  z-index: 1;
}

.projects .projects-item-label {
  margin-top: 2rem;
}

.projects .projects-item-desc {
  margin-top: 1rem;
  width: 22rem;
  line-height: 2.3rem;
}

.projects .projects-item-detail {
  display: block;
  margin-top: 2rem;
}

.projects .projects-item-thumb-link {
  position: absolute;
  right: 2rem;
  top: 2.4rem;
  width: auto;
  height: 79.9%;
  margin-left: auto;
  z-index: 1;
}

.projects .projects-item-thumb {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.projects .projects-btn {
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
}

.projects .projects-btn .btn-link {
  padding: 1.6rem 3.4rem;
}

/* ABOUT */
.about {
  padding-top: 14rem;
}

.about .about-hello-box {
  gap: 0.9rem;
}

.about .about-hello-vector {
  width: 3rem;
  height: 3rem;
}

.about .about-heading {
  margin-top: 1rem;
}

.about .about-desc {
  width: 57rem;
}

.about .about-numbers-list {
  position: relative;
  padding: 2rem 0rem;
  margin-top: 7rem;
}

.about .about-numbers-list::before,
.about .about-numbers-list::after {
  content: "";
  position: absolute;
  display: block;
  width: 94.6rem;
  height: 0.1rem;
  opacity: 0.2;
  background-color: var(--rich-black-color);
  left: 50%;
  transform: translateX(-50%);
}

.about .about-numbers-list::before {
  top: 0rem;
}

.about .about-numbers-list::after {
  bottom: 0rem;
}

.about .about-numbers-jar {
  width: fit-content;
  margin-left: auto;
}

.about .years-exp-jar {
  margin-right: 2.1rem;
}

.about .features-award-jar {
  margin-left: 10.5rem;
}

.about .rating-jar {
  margin-right: 25.5rem;
}

.about .about-numbers-value {
  display: block;
  color: var(--rich-black-color);
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 7.6rem; /* 135.714% */
  letter-spacing: 0.168rem;
  text-decoration-line: underline;
}

.about .about-media-box {
  position: relative;
  margin-top: 7rem;
  width: 100%;
  height: 62.8rem;
}

.about .about-media-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .about-media-play-btn {
  position: absolute;
  width: 11.1rem;
  height: 11.1rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(1.2rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: box-shadow 0.5s;
}

.about .about-media-play-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.about .about-media-play-vector {
  padding: 4.6rem 4.6rem 4.7rem 5rem;
}

.about .about-media-intro-btn {
  position: absolute;
  width: 17rem;
  height: 6.2rem;
  background-color: white;
  bottom: 1rem;
  right: 1rem;
  transition: box-shadow 0.5s;
}

.about .about-media-intro-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.about .about-media-intro-link {
  text-transform: uppercase;
  color: var(--independence-color);
  padding: 1.6rem 2.8rem;
}

/* QUOTES */
.quotes {
  position: relative;
  background-color: var(--ghost-white-color);
  margin-top: 15rem;
  padding-bottom: 7.4rem;
}

.quotes-background-vector {
  position: absolute;
  opacity: 0.1;
  bottom: 0rem;
  height: auto;
}

.quotes-left-vector {
  width: 10.4vw;
  left: 0rem;
}

.quotes-right-vector {
  width: 13.87vw;
  right: 0rem;
}

.quotes .quotes-heading {
  margin-left: 36rem;
}

.quotes .quotes-desc {
  width: 57rem;
  margin-left: 29.5rem;
}

.quotes .quotes-jar {
  display: none;
  opacity: 0;
  flex-direction: column;
  width: 67.9rem;
  margin-top: 6rem;
  margin-left: 24.3rem;
}

.quotes .quotes-switcher:checked + .quotes-jar {
  display: flex;
  opacity: 1;
}

.quotes .quotes-text {
  color: var(--independence-color);
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 4rem; /* 166.667% */
}

.quotes .quotes-info-box {
  margin-top: 3.6rem;
  gap: 1.52rem;
}

.quotes .quotes-avatar-jar {
  border-radius: 50%;
  width: 3.9833rem;
  height: 3.9833rem;
  overflow: hidden;
}

.quotes .quotes-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quotes .quotes-name {
  color: var(--rich-black-color);
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem; /* 133.333% */
}

.quotes .quotes-label {
  margin-top: 0.32rem;
  color: var(--independence-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.9rem; /* 181.25% */
}

.quotes .quotes-switch-box {
  gap: 1.5rem;
  margin-top: 4rem;
  width: 100%;
  height: 2rem;
}

.quotes .quotes-switch-box .quotes-switcher-btn {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: var(--rich-black-color);
  opacity: 0.2;
}

.quotes .quotes-switcher {
  position: absolute;
  z-index: -1;
}

.quotes-switch-1:checked ~ .quotes-switch-box .quotes-switcher-btn-1,
.quotes-switch-2:checked ~ .quotes-switch-box .quotes-switcher-btn-2,
.quotes-switch-3:checked ~ .quotes-switch-box .quotes-switcher-btn-3,
.quotes-switch-4:checked ~ .quotes-switch-box .quotes-switcher-btn-4,
.quotes-switch-5:checked ~ .quotes-switch-box .quotes-switcher-btn-5 {
  background-color: var(--majorelle-blue-color);
  opacity: 1;
  width: 1.2rem;
  height: 1.2rem;
  outline: 1px solid var(--majorelle-blue-color);
  outline-offset: 0.4rem;
}

/* QUESTIONS */
.questions {
  padding-top: 9.5rem;
}

.questions .questions-box {
  width: 101rem;
}

.questions .questions-heading {
  width: 57.5rem;
}

.questions .questions-list {
  margin-top: 8rem;
}

.questions-jar ~ .questions-jar {
  margin-top: 6rem;
}

.questions .questions-jar {
  position: relative;
  border-bottom: 2px solid #08182f;
  padding-left: 2.2rem;
}

.questions .questions-label {
  margin-bottom: 3.3rem;
}

.questions .questions-answer {
  display: none;
  width: 48.7rem;
  margin-bottom: 2.1rem;
}

.questions-check-btn {
  position: relative;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  right: 0rem;
  top: 1.2rem;
  border: 2px solid rgba(22, 26, 28, 0.2);
  z-index: 1;
}

.questions-check-btn::before,
.questions-check-btn::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #161a1c;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.questions-check-btn::before {
  width: 14.08px;
  height: 0.2rem;
}

.questions-check-btn::after {
  width: 0.2rem;
  height: 14.08px;
}

.questions-jar .questions-check:checked ~ .questions-label {
  color: var(--majorelle-blue-color);
  margin-bottom: 0rem;
  transform: translateY(-2.3rem);
}

.questions-jar .questions-check:checked ~ .questions-answer {
  display: block;
}

.questions-jar .questions-check:checked ~ .questions-check-btn::before {
  background-color: var(--majorelle-blue-color);
}

.questions-jar .questions-check:checked ~ .questions-check-btn::after {
  display: none;
}

.questions-jar:has(.questions-check:checked) {
  border-bottom: 2px solid var(--majorelle-blue-color);
}

/* ATMOS */
.atmos {
  margin-top: 16rem;
}

.atmos .atmos-desc {
  width: 52.8rem;
}

.atmos .atmos-social-link {
  display: block;
  margin-top: 3rem;
}

.atmos .atmos-list {
  margin-top: 7rem;
}

.atmos .atmos-thumb-box {
  height: 52.9rem;
}

.atmos .atmos-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CONTACT */
.contact {
  position: relative;
  margin-top: 14rem;
}

.contact .contact-box {
  padding: 16.9rem 0rem;
  /* background-color: green; */
  position: relative;
}

.contact .contact-icon {
  width: 9rem;
  height: 9rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact .contact-heading {
  margin-top: 1.05rem;
}

.contact .contact-desc {
  width: 57.4rem;
}

.contact .contact-btn {
  position: absolute;
  /* margin-top: 3.9rem; */
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  bottom: 6.8rem;
  left: 50%;
  transform: translateX(-50%);
}

.contact .contact-vector {
  position: absolute;
  opacity: 0.05;
}

.contact .contact-mid-vector {
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.contact .contact-left-vector {
  bottom: 0rem;
  left: -8rem;
}

.contact .contact-right-vector {
  top: 0rem;
  right: -8rem;
}

/* FOOTER */
.footer {
  margin-top: 5rem;
}

.footer .top-footer {
  padding-bottom: 3.2rem;
  border-bottom: 1px solid rgba(12, 7, 32, 0.2);
}

.footer .bottom-footer {
  margin-top: 1.8rem;
}

.copy-right-box .medium-text,
.agreement-box .medium-text {
  opacity: 0.6;
}

.bottom-footer .agreement-box {
  position: relative;
  display: flex;
  gap: 3.6rem;
}

.bottom-footer .agreement-box::after {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: 1.4rem;
  background-color: rgba(82, 87, 113, 0.6);
  top: 50%;
  transform: translateY(-50%);
  right: 18.8rem;
}

.agreement-box span {
  letter-spacing: -0.054rem;
}

.bottom-footer .policy-text {
  margin-left: auto;
}

.agreement-box .terms-text {
  margin-right: 1.7rem;
}
